<div class="container">
  <h3>Zoznam vakcín</h3>
  <div *ngIf="!vakciny || vakciny?.length === 0">
    <div>
      Zoznam dostupných vakcín je prázdny.
    </div>
  </div>
  <div>
    <table class="table" *ngIf="vakciny.length > 0">
      <thead>
      <tr>
        <th scope="col">Názov vakcíny</th>
        <th scope="col">Výrobca</th>
        <th scope="col">Počet dávok</th>
        <th scope="col">Vakcína platná do</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let vakcina of vakciny">
        <td>{{vakcina.nazov}}</td>
        <td>{{vakcina.vyrobca}}</td>
        <td>{{vakcina.pocet_davok}}</td>
        <td>{{vakcina.trvacnost}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
