<!--TOTO je len test, prvotný navbar-->
<nav class="navbar vh-2 gradient-custom">
  <div class="container-fluid">
    <a class="navbar-brand me-2">
      <p>OČKOVANIE &nbsp;<small>by</small>&nbsp;MDM</p>
    </a>
    <img
      src="../../assets/cartoon-vaccination.jpg"
      height="64"
      alt="VaccineLogo"
    />
    <section class="header-container-nav">
      <div>
        <button pButton pRipple type="button" class="p-button-raised" (click)="nastaMenu(menu.LOGIN)">Prihlásenie</button>
      </div>
    </section>
    </div>
</nav>

