h1{
  text-align: center;
  margin: 20px;
  font-weight: bold;
  font-family: -apple-system, serif;
}
#naspäť{
  text-align: center;
}
.container{
  justify-content: center;
  align-content: center;
  display: flex;
}
