<h1 class="col" id="grad">Hlavná stránka Vakcinácie</h1>

<app-vakcinacia-formular (pridajVakcinaciu)="pridaj($event)"
                         [osoby]="osoby"
                         [vakciny]="vakciny">

</app-vakcinacia-formular>

<app-vakcinacia-zoznam [vakcinacie]="vakcinacie" [osoby]="osoby"
                  (zmazVakcinaciu)="zmazVakcinaciuZoZoznamu($event)">
</app-vakcinacia-zoznam>

<br>

<div class="container">
  <button id="naspäť" pButton pRipple type="button" class="p-button-rounded p-button-warning" (click)="chodSpat()">Naspäť do hlavného menu</button>
</div>
<app-footer></app-footer>
