<body>
<header>
  <h1>Očkovanie &nbsp;<small>by</small>&nbsp; MDMMDM</h1>
  <img
    src="../../assets/cartoon-vaccination.jpg"
    height="64"
    alt="VaccineLogo"
  />
</header>
<main>
  <form id="login_form" class="form_class">
    <div class="form_div">
      <label>Prihlásenie sa do systému</label>
      <button pButton pRipple type="button" class="p-button-rounded p-button-success" (click)="login()"><p class="col-12">Prihlásenie</p></button>
      <button pButton pRipple type="button" class="p-button-rounded p-button-danger" (click)="logout()"><p class="col-12">Odhlásenie</p></button>
      <div class="text-center">
        <button id="naspäť" pButton pRipple type="button" class="p-button-rounded p-button-warning" (click)="chodSpat()">Naspäť do hlavného menu</button>
      </div>
    </div>
  </form>
</main>
</body>
<footer>
  <p>® by Mirka Dávid Marek</p>
</footer>
