<div class="container">
  <h3>Zoznam vakcinácií</h3>
  <div *ngIf="!vakcinacie || vakcinacie?.length === 0">
    <div>
      Zoznam vakcinácií je prázdny.
    </div>
  </div>
  <div>
    <table class="table" *ngIf="vakcinacie.length > 0">
      <thead>
      <tr>
        <th scope="col">ID vakcíny</th>
        <th scope="col">ID osoby</th>
        <th scope="col">Názov vakcíny</th>
        <th scope="col">Zmaž</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let vakcinacia of vakcinacie">
        <td>{{vakcinacia.vakcinaId}}</td>
        <td>{{vakcinacia.osobaId}}</td>
        <td>{{vakcinacia.nazovVakciny}}</td>

        <!--
        <button (click)="uprav(vakcinacia.id)">UPRAVIŤ</button>
        -->
        <button (click)="zmaz(vakcinacia.id)">ZMAZAŤ</button>

      </tr>
      </tbody>
    </table>
  </div>
</div>

