<div class="container">
  <hr/>
  <h3 class="nadpisS">Zoznam vakcinácií</h3>
  <div *ngIf="!vakcinacie || vakcinacie?.length === 0">
    <div>
      Zoznam vakcinácií je prázdny.
    </div>
  </div>
  <div>
    <table class="table" *ngIf="vakcinacie.length > 0">
      <thead>
      <tr>
        <th scope="col">Názvy vakcín</th>
        <th scope="col">Mená zaočkovaných osôb</th>
        <th scope="col">Zmaž</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let vakcinacia of vakcinacie">
        <td>{{vakcinacia.nazovVakcin}}</td>
        <td>{{vakcinacia.osobaMeno + " " + vakcinacia.osobaPriezvisko}}</td>

        <!--
        <button (click)="uprav(vakcinacia.id)">UPRAVIŤ</button>
        -->
        <button (click)="zmaz(vakcinacia.id)">ZMAZAŤ</button>

      </tr>
      </tbody>
    </table>
  </div>
</div>
