th{
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid #999;
  background: rgb(239, 255, 253)
}
td{
  margin: 5px;
  padding: 5px;
  font-weight: normal;
  font-family: "Times New Roman", serif;
  text-align: center;
  border: 1px groove;
}
table{
  border-top-style: groove;
  border-right-style: groove;
  border-left-style: groove;
  border-bottom-style: groove;
  text-align: center;
}
tr:nth-child(even) {background-color: #e8f4f8;}
tr:nth-child(odd) {background-color: #d4ebf2;}
hr {
  display: block;
  margin-end: auto;
  margin-start: auto;
  border: 1px inset;
  overflow: hidden;
  margin-before: 0.5em;
  margin-after: 0.5em;
}
.nadpisS{
  text-align: center;
  font-family: Verdana, serif;
  font-weight: bold;
  font-size: 20px;
}

