<app-navbar></app-navbar>
<body>
<main class="backgroundIMG">
<div class="grid p-fluid">
</div>
<div class="container" id="menu">
  <div class="vertical-center">
    <div class="fc-button-active">
    <button pButton pRipple type="button" class="p-button-raised" id="osoby" (click)="nastaMenu(menu.OSOBY)">OSOBY</button>
    <button pButton pRipple type="button" class="p-button-raised p-button-danger" id="vakciny" (click)="nastaMenu(menu.VAKCINY)">VAKCÍNY</button>
    <button pButton pRipple type="button" class="p-button-raised p-button-raised" id="vakcinacia" (click)="nastaMenu(menu.VAKCINACIA)">VAKCINÁCIA</button>
    </div>
  </div>
</div>
</main>
</body>
<app-footer></app-footer>
