<div class="container">
  <h3 class="NadpisZ">Zoznam zaočkovaných osôb</h3>
  <hr/>
  <h3>Zoznam zaočkovaných osôb</h3>
  <div *ngIf="!osoby || osoby?.length === 0">
  <div>
    Zoznam zaočkovaných osôb je prázdny.
  </div>
  </div>
  <div>
    <table class="table" *ngIf="osoby.length > 0">
      <thead>
        <tr>
          <th class="thead" scope="col">Meno</th>
          <th class="thead" scope="col">Kontakt</th>
          <th class="thead" scope="col">Bydlisko</th>
          <th class="thead" scope="col">Počet dávok</th>
          <th class="thead" scope="col">Zaočkovanosť do</th>
          <th class="thead" scope="col">Názov vakcíny</th>
          <th class="thead" scope="col">Uprav/Zmaž</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let osoba of osoby">
          <td>{{osoba.meno + ' ' + osoba.priezvisko}}</td>
          <td>{{osoba.kontakt}}</td>
          <td>{{osoba.bydlisko}}</td>
          <td>{{osoba.pocet_davok}}</td>
          <td>{{osoba.zaockovanostOd}}</td>
          <td>{{osoba.zaockovanostDo}}</td>
          <td>{{osoba.nazovVakciny}}</td>

            <button class="buttons" (click)="uprav(osoba.id)">UPRAVIŤ</button>
            <button class="buttons" (click)="zmaz(osoba.id)">ZMAZAŤ</button>

        </tr>
      </tbody>
    </table>
  </div>
</div>
