th{
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 2px solid #FFFFFF;
  text-align: center;
  background: rgb(239, 255, 253)
}
td{
  margin: 5px;
  padding: 10px;
  font-weight: normal;
  font-family: Verdana, serif;
  text-align: center;
  border: 2px groove;
}
table{
  border-top-style: groove;
  border-right-style: groove;
  border-left-style: groove;
  border-bottom-style: groove;
  text-align: center;
}
.thead{
  background: #EF4444;
}
tr:nth-child(even) {background-color: #EF4444;}
tr:nth-child(odd) {background-color:  #6366F1;}

.buttons{
  padding: 5px;
  margin: 5px;
}

.NadpisZ{
  text-align: center;
  font-family: Verdana, serif;
  font-weight: bold;
  font-size: 20px;
}
