<div class="text-center">
  <h1 id="formular">Formulár na pridanie Osôb </h1>
</div>
<br>

<form [formGroup]="form" style="background-image: ">
  <div class="container">
    <div class="form-group">
      <div class="grid p-fluid">
        <div class="col-12 md:col-3">

          <label id="o1">Meno:</label>
          <input type="text" class="form-control" formControlName="meno" tooltipEvent="focus" pInputText pTooltip="Vložte svoje meno" tooltipPosition="top">
          <br>

          <label id="o2">Priezvisko:</label>
          <input type="text" class="form-control" formControlName="priezvisko" tooltipEvent="focus" pInputText pTooltip="Vložte svoje priezvisko" tooltipPosition="top">
          <br>

          <label id="o3">Email:</label>
          <input type="email" name="email" class="form-control" formControlName="email" tooltipEvent="focus" pInputText pTooltip="Vložte svoj email" tooltipPosition="top">

           <div *ngIf="!form.controls['email'].valid && form.controls['email'].touched">
             <div *ngIf="form.controls['email'].errors?.['required']" id="vlozemail">
               <small>Zadajte email</small>
            </div>
            <div *ngIf="form.controls['email'].errors?.['pattern']" id="vlozemail2">
              <small>Vložili ste neplatný email</small>
              </div>
          </div>
          <br>

          <label id="o4">Rodné číslo:</label>
          <input type="text" class="form-control" formControlName="rodne_cislo" tooltipEvent="focus" pInputText pTooltip="Vložte svoje rodné číslo" tooltipPosition="top">
          <br>

          <label id="o5">Kontakt:</label>
          <input type="text" class="form-control" formControlName="kontakt" tooltipEvent="focus" pInputText pTooltip="Vložte svoj kontakt" tooltipPosition="top">
          <br>

          <label id="o7">Bydlisko:</label>
          <input type="text" class="form-control" formControlName="bydlisko" tooltipEvent="focus" pInputText pTooltip="Vložte svoje bydlisko" tooltipPosition="top">
          <br>
          <label id="o6">Pohlavie:</label>
          <select id="pohlavie" class="form-select" formControlName="pohlavie">
            <option value="muž">Muž</option>
            <option value="žena">Žena</option>
          </select>
          <br>
          <br>
          <button pButton id="pridajB" type="button" icon="pi pi-check" pTooltip="Kliknúť pre potvrdenie" (click)="pridaj();" *ngIf="form.value.id === null" [disabled]="!this.form.valid">PRIDAJ</button>
          <button pButton id="upravB" type="button" icon="pi pi-check" pTooltip="Kliknúť pre upravenie" (click)="uprav();" *ngIf="form.value.id !== null" [disabled]="!this.form.valid">UPRAV</button>
          <button pButton id="zrusB" type="button" icon="pi pi-check" (click)="zrus();">ZRUŠ</button>

        </div>
      </div>
    </div>
  </div>
</form>

