#formular{
  text-align: center;
  font-family: Verdana, serif;
  font-weight: bold;
  font-size: 30px;
  margin: auto;
  padding: 25px;
}
.form-control{
  margin: 5px;
  padding: 5px;
  font-family: "Times New Roman", serif;
}
#o0{
  text-align: left;
  margin-right: 5px;
  padding-bottom: 5px;
  font-family: "Times New Roman", serif;
  font-size: large;
}
#o1{
  text-align: left;
  margin-right: 5px;
  padding-bottom: 5px;
  font-family: "Times New Roman", serif;
  font-size: large;
}
#o2{
  text-align: left;
  margin-right: 5px;
  padding-bottom: 5px;
  font-family: "Times New Roman", serif;
  font-size: large;
}
#o3{
  text-align: left;
  margin-right: 5px;
  padding-bottom: 5px;
  font-family: "Times New Roman", serif;
  font-size: large;
}
#o4{
  text-align: left;
  margin-right: 5px;
  padding-bottom: 5px;
  font-family: "Times New Roman", serif;
  font-size: large;
}
#o5{
  text-align: left;
  margin-right: 5px;
  padding-bottom: 5px;
  font-family: "Times New Roman", serif;
  font-size: large;
}
#o6{
  text-align: left;
  margin-right: 5px;
  padding-bottom: 5px;
  font-family: "Times New Roman", serif;
  font-size: large;
}
#o7{
  text-align: left;
  margin-right: 5px;
  padding-bottom: 5px;
  font-family: "Times New Roman", serif;
  font-size: large;
}
#pridajB{
  width: 80px
}
#upravB{
  width: 80px;
}
#zrusB{
  width: 80px;
}
#pohlavie{
  font-family: "Times New Roman", serif;
  font-weight: inherit;
  font-size: initial;
  background-color: white;
  border-collapse: initial;
  border-color: black;
  position: relative;
}
#vlozemail{
  color: white;
  font-family: "Times New Roman", serif;
  font-weight: bold;
  border-radius: 15px;
  background: red;
  width:100px;
  text-align: center;
}
#vlozemail2{
  color: white;
  font-family: "Times New Roman", serif;
  font-weight: bold;
  border-radius: 15px;
  background: red;
  width:150px;
  text-align: center;
}
small{
  font-weight: bold;
  font-family:"Times New Roman", serif;
  font-size: small;
}

