<div class="text-center">
  <h1 id="formular">Formulár na pridanie Vakcín </h1>
</div>
<br>

<form [formGroup]="form">
  <div class="container">
    <div class="form-group">
      <div class="grid p-fluid">
        <div class="col-12 md:col-3">

        <label id="o1">Názov:</label>
        <input type="text" class="form-control" formControlName="nazov" tooltipEvent="focus" pInputText pTooltip="Názov vakcíny" tooltipPosition="top">
        <br>

        <label id="o2">Výrobca:</label>
        <input type="text" class="form-control" formControlName="vyrobca" tooltipEvent="focus" pInputText pTooltip="Výrobca" tooltipPosition="top">
        <br>

        <label id="o3">Počet dávok:</label>
        <input type="text" class="form-control" formControlName="pocet_davok" tooltipEvent="focus" pInputText pTooltip="Koľko dávková vakcína" tooltipPosition="top">
        <br>

        <label id="o4">Trvácnosť:</label>
        <input type="text" class="form-control" formControlName="trvacnost" tooltipEvent="focus" pInputText pTooltip="Doba trvania vakcíny v dňoch" tooltipPosition="top">
        <br>

        <button pButton id="pridajB" type="button" icon="pi pi-check" pTooltip="Kliknúť pre potvrdenie" (click)="pridaj();" *ngIf="form.value.id === null" [disabled]="!this.form.valid">PRIDAJ</button>
        <button pButton id="upravB" type="button" icon="pi pi-check" pTooltip="Kliknúť pre upravenie" (click)="uprav();" *ngIf="form.value.id !== null" [disabled]="!this.form.valid">UPRAV</button>
        <button pButton id="zrusB" type="button" icon="pi pi-check" (click)="zrus();">ZRUŠ</button>

        </div>
      </div>
    </div>
  </div>
</form>
