#formular{
  text-align: center;
  font-family: "Verdana", serif;
  margin: auto;
  padding: 25px;
}
.form-control{
  margin: 5px;
  padding: 5px;
  font-family: "Verdana", serif;
}
#o1{
  text-align: left;
  margin-right: 5px;
  padding-bottom: 5px;
  font-family: "Verdana", serif;
  font-size: large;
}
#o2{
  text-align: left;
  margin-right: 5px;
  padding-bottom: 5px;
  font-family: "Verdana", serif;
  font-size: large;
}
#o3{
  text-align: left;
  margin-right: 5px;
  padding-bottom: 5px;
  font-family: "Verdana", serif;
  font-size: large;
}
#o4{
  text-align: left;
  margin-right: 5px;
  padding-bottom: 5px;
  font-family: "Verdana", serif;
  font-size: large;
}
#pridajB{
  width: 80px
}
#zrusB{
  width: 80px;
}
#upravB{
  width: 80px;
}
