<app-navbar></app-navbar>
<h1 class="col" id="grad">Hlavná stránka vakcín</h1>

<app-vakcina-formular [vakcina]="vakcinaNaUpravu"
                      (pridajVakcinu) ="pridaj($event)"
                      (upravVakcinu)="uprav($event)">
</app-vakcina-formular>

<app-vakcina-zoznam [vakciny]="vakciny"
                    (upravVakcinu)="upravVakcinuZoZoznamu($event)"
                    (zmazVakcinu)="zmazVakcinuZoZoznamu($event)">
</app-vakcina-zoznam>

<br>

<div class="container">
  <button pButton pRipple type="button" class="p-button-rounded p-button-warning" (click)="chodSpat()">Naspäť do hlavného menu</button>
</div>
<app-footer></app-footer>
