<app-navbar></app-navbar>
<h1 class="col" id="grad">Hlavná stránka zaočkovaných osôb</h1>

<app-osoba-formular [osoba]="osobaNaUpravu"
                    (pridajOsobu) ="pridaj($event)"
                    (upravOsobu)="uprav($event)">
</app-osoba-formular>

<app-osoba-zoznam [osoby]="osoby"
                  (upravOsobu)="upravOsobuZoZoznamu($event)"
                  (zmazOsobu)="zmazOsobuZoZozanmu($event)">
</app-osoba-zoznam>

<br>

<div class="container">
  <button id="naspäť" pButton pRipple type="button" class="p-button-rounded p-button-warning" (click)="chodSpat()">Naspäť do hlavného menu</button>
</div>
<app-footer></app-footer>
